@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components{
    .btn{
        @apply px-4 py-2 bg-blue-600 text-white rounded;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&display=swap');

@media (min-width : 640px){

}

@media (min-width: 768px){

}

@media (min-width: 1024px){

}

@media (min-width: 1280px){

}

@media (min-width: 1536px){

}

.font-Glory{
    font-family: Glory;
}
.my-element{
    display: inline block;
    margin: 0 0.5rem;

    animation: fadeInLeft;
    animation: fadeInRight;
    animation: zoomIn;
    animation-duration :10s;
}
.animate__animated.animate__fadeInRight{
    --animate-duration :2s;
}
:root{
    --animate-duration:800ms;
    --animate-delay: 0.9s;
}
.animate__animated.animate__fadeInLeft{
    --animate-duration :10s;
}
:root{
    --animate-duration:800ms;
    --animated-delay: 1s;
}
.animate__animated.animate__zoomIn{
    --animate-duration: 2s;
}
:root{
    --animate-duration:800ms;
    --animated-delay:2s;
}

html{
    box-sizing:border-box;
  }

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
